/* CSS Document */
/* Objective 7: All CSS styles should be created in the css\style.css file included in the project. */ 

body{
  background-color: #e1f2fc;
}

#inboxTable{
    border-style: solid;
    border-width: 3px;
    background-color: #d06726;
}

#inboxTable table{
    width: 100%;
}

#date, #subject, #sender{
    border-bottom: solid;
    border-width: 1px;
    font-size: 22px;
    padding: 5px;
    text-decoration: underline;
}

h2{
  text-decoration: underline;
}

#currentTime {
  text-align: left;
}

.header {
    padding: 20px;
    text-align: left;
}

.topnav {
    border: solid;
    border-width: 3px;
    overflow: hidden;
    background-color: #d06726;
}

.topnav a {
    float: left;
    display: grid;
    color: black;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
}

.topnav a:hover {
    background-color: #ddd;
    color: purple;
    text-decoration: underline;
    font-weight: bold;
}

#mailCounter {
  background-color: #d06726;
}

#mailCounter h2 {
  border: solid;
  border-color: black;
  color: #f702963;
  text-align: center;
}

.message td {
    border-right: solid;
    border-left: solid;
    border-width: 3px;
    border-color
    padding: 20px;
    font-size: 20px;
    background-color: white;
}
.message.hidden td {
    display: none;
}

tr {
    border: solid;
    border-color: black;
    border-width: 3px
}

#inbox tr:nth-child(even) {
  background-color: #f2f2f2;
}

#inbox tr:hover {
  background-color: #ddd;
  text-decoration: underline;
  font-style: italic;
}

.date{
color: black;
padding:2px;
margin:2px;
display:table;
margin-left:auto;
font-weight: bold;
text-decoration: underline;

}


.send{
color: black;
border:2px solid black;
padding:5px;
margin:5px;
display:table;
font-size:18px;


}

.subject{
color: black;
border:2px solid black;
padding:2px;
margin:2px;
display:table;
margin:auto;
font-weight: bold;

}
