$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$header-height: 80px;
$font-size: 100px;
$footer: 100%;

body {
  font-size: $font-size;
  color: $primary-color;
}

header {height: $header-height;background-color: #ddd;}

footer {height: $header-height;background-color: #000; width: $footer; padding: 20px;margin: 0;
}

nav {

	float: left;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

  }

  li { display: inline-block;float: left; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #444

  }

  a:hover {
    color: #fff;
    
  }
}