<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>context</key>
		<string>上一届是韩磊，这一届是韩红，下一届应该是我了吧</string>
		<key>icon</key>
		<string>icon_host.png</string>
		<key>name</key>
		<string>韩寒</string>
		<key>praise</key>
		<integer>321328</integer>
		<key>time</key>
		<string>3月27日 23:37</string>
	</dict>
	<dict>
		<key>context</key>
		<string>岳父大赞</string>
		<key>icon</key>
		<string>icon_0.png</string>
		<key>name</key>
		<string>放设不机</string>
		<key>praise</key>
		<integer>464</integer>
		<key>time</key>
		<string>3月27日 23:38</string>
	</dict>
	<dict>
		<key>context</key>
		<string>应该是孙红磊</string>
		<key>icon</key>
		<string>icon_1.png</string>
		<key>name</key>
		<string>UCG-Waltz</string>
		<key>praise</key>
		<integer>9316</integer>
		<key>time</key>
		<string>3月27日 23:39</string>
	</dict>
	<dict>
		<key>context</key>
		<string>你离黑幕距离还很远，估计有点悬。</string>
		<key>icon</key>
		<string>icon_2.png</string>
		<key>name</key>
		<string>寒影风邪</string>
		<key>praise</key>
		<integer>2203</integer>
		<key>time</key>
		<string>3月27日 23:40</string>
	</dict>
	<dict>
		<key>context</key>
		<string>发现年纪大了就是话多！你还是带着我媳妇儿去『爸爸去哪儿』吧。</string>
		<key>icon</key>
		<string>icon_3.png</string>
		<key>name</key>
		<string>朴更斩</string>
		<key>praise</key>
		<integer>3539</integer>
		<key>time</key>
		<string>3月27日 23:42</string>
	</dict>
	<dict>
		<key>context</key>
		<string>爸爸去哪儿3 欢迎你！！赶紧来！！赶紧来！！！赶紧来！！赶紧来！！！赶紧来！！赶紧来！！！赶紧来！！赶紧来！！！赶紧来！！赶紧来！！！赶紧来！！赶紧来！！！赶紧来！！赶紧来！！！赶紧来！！赶紧来！！！</string>
		<key>icon</key>
		<string>icon_4.png</string>
		<key>name</key>
		<string>芒果娱乐</string>
		<key>praise</key>
		<integer>10447</integer>
		<key>time</key>
		<string>3月27日 23:42</string>
	</dict>
	<dict>
		<key>context</key>
		<string>给别人留点职业好么？</string>
		<key>icon</key>
		<string>icon_5.png</string>
		<key>name</key>
		<string>笔尖</string>
		<key>praise</key>
		<integer>1504</integer>
		<key>time</key>
		<string>3月27日 23:40</string>
	</dict>
	<dict>
		<key>context</key>
		<string>哈哈哈哈哈哈哈哈哈哈哈哈啊哈哈哈哈臭表脸</string>
		<key>icon</key>
		<string>icon_6.png</string>
		<key>name</key>
		<string>羊圈妹子</string>
		<key>praise</key>
		<integer>743</integer>
		<key>time</key>
		<string>3月27日 23:38</string>
	</dict>
	<dict>
		<key>context</key>
		<string>去屎</string>
		<key>icon</key>
		<string>icon_7.png</string>
		<key>name</key>
		<string>帅哥张爱吧啦爱张漾爱小耳朵</string>
		<key>praise</key>
		<integer>315</integer>
		<key>time</key>
		<string>3月27日 23:37</string>
	</dict>
	<dict>
		<key>context</key>
		<string>明明是韩三平</string>
		<key>icon</key>
		<string>icon_8.png</string>
		<key>name</key>
		<string>生活家柳荫斋bEijInG</string>
		<key>praise</key>
		<integer>666</integer>
		<key>time</key>
		<string>3月27日 23:39</string>
	</dict>
	<dict>
		<key>context</key>
		<string>韩寒和韩红会画画</string>
		<key>icon</key>
		<string>icon_9.png</string>
		<key>name</key>
		<string>脸plus少女</string>
		<key>praise</key>
		<integer>713</integer>
		<key>time</key>
		<string>3月27日 23:41</string>
	</dict>
</array>
</plist>
