[submodule "DbConnector"]
	path = DbConnector
	url = https://github.com/SavantBuffer/DbConnector.git
[submodule "archived_code"]
	path = archived_code
	url = https://github.com/camille12225/archived_code.git
