body
{
	text-transform: uppercase;
	background: #222;
	color: #EEE;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 20px;
	text-align: center;
	
}

header
{
	background: url("logo.png") no-repeat 95% center,
				url("fondo.jpg");
	background-size: 200px, 100px 100px;
	margin: 0 0 1em;
	padding: 0.5em 0;
	width: 100%;
}

header h1
{
	margin: 0;
	text-shadow: rgba(255, 255, 255, 0.5) 5px 5px 10px;
}

header h2
{
	margin: 0;
	font-weight: normal;
	text-shadow: rgba(0, 0, 0, 0.7) 2px 2px 10px;
	
}

nav
{
	background: rgba(255, 255, 255, 0.5);
	bottom: 0;
	color: #EEE;
	font-size: 1.5em;
	padding: 1em 0;
	left: 0;
	position: fixed;
	width:100%;
}

nav ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	
}

nav ul li
{
	display: inline-block;
}

nav li a 
{
	background: #D23D15;
	border-radius: 0.5em;
	color: white;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.5em 1em;
	text-decoration: none;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	
}

nav li a:hover
{
	background: #fff;
	color: black;
	transform: scale(1.2) rotate(-5deg);
	-webkit-transform: scale(1.2) rotate(-5deg);
}










