/* Administrative classes */

/* Toolbar Drag & Drop */
form#ckeditor-admin-profile-form textarea#edit-toolbar {
    display: none;
}
form#ckeditor-admin-profile-form #edit-toolbar + .grippie {
    display: none;
}
div.sortableList {
    cursor: n-resize;
}
div.widthMarker {
    height: 20px;
    border-top: 1px dashed #CCC;
    margin: 10px 0px 0px 1px;
    padding-left: 1px;
    text-align: center;
}
div.sortableList.group {
    margin: 20px 0px 0px 0px;
}
div.sortableList div.sortableListDiv {
    height: 34px;
    margin-bottom: 3px;
    width: 930px;
}