* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Arial, Helvetica, sans-serif;
  color: #c00;
  font-style: italic;
  font-weight: 900;
}
