* {
  margin: 0px;
  padding: 0px;
}

#octocat {
  display: block;
  width: 384px;
  margin: 50px auto;
}

p,
h2 {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

h2 {
  font-weight: 600;
  color: red;
}
