* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400000000000000000000000000000dfdfdfdfdsfdfdfdsfdfd0000000XXXXXXX0000000000000000000000000000px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
