* {
  margin:0px;
  padding:0px;
}

#image {
  display: block;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

#octocat {
  display: block;
  width: 500px;
  height: 500px;
  margin: 50px auto;
}