* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font-size: 2.5em;
  font-family: "Verdana";
}
