h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
h2 {
  font-size: 40px;
  text-transform: uppercase;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 30px;
  text-align: center;
}
p {
  font-size: 22px;
  line-height: 1.5;
}
li {
  font-size: 20px;
}
footer p {
  font-size: 15px;
}
header p {
  font-style: italic;
}
