* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:400px;
  margin: 50px auto;
}

p {
  display: block;
  width: 425px;
  margin: 50px auto;
  font: 24px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
