* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: flex;
  width: 600px auto;
  margin: 20px auto;
  font: 100;
  color: blue;
  columns: 40px;
}

h1 {
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  height: auto;
}

body {
  background-attachment: fixed;
  background-color: black;
}

head {
  max-width: 800px;
  max-height: 650px;
  flex-direction: column;
  background-color: aquamarine;
  background-position: 0%;
}

html {
  background-color: aliceblue;
}