* {
    margin:10px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif, Geneva, Tahoma, sans-serif;
}

div {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-align: center;

}