* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:150px;
  margin: 50px auto 5px auto;
}

p {
  display: block;
  width: 400px;
  margin: 5px auto 5px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
