* {
  margin:0px;
  padding:0px;
  border: none;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
  height:100px;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
