* {
  margin:0px;
  padding:0px;
}

#hui-v {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  color: blue;
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
