* {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#octocat {
    display: block;
    width: 384px;
    margin: 50px auto;
}

p {
    display: block;
    width: 400px;
    margin: 50px auto;
    font: 30px Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

img {
    width: 350px;
    height: auto;
}