* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:385px;
  margin: 50px auto;
}

p {
  display: block;
  width: 550px;
  margin: 60px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
