* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:388px;
  margin: 52px auto;
}

p {
  display: block;
  width: 401px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
