* {
  margin:0px;
  padding:0px;
  background-color: azure;
}

#octocat {
  display: block;
  width: 384px;
  margin: 50px auto;
}

h1 {
  display: block;
  width: 500px;
  margin: 50px auto;
  font: 50px Monaco;
  font-weight: bolder;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
