* {
  margin:0px;
  padding:0px;
  background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTKad5SM_dwYzA-sLvHevue5-byj-CgnoXTAdpEEykliqYc-XNQ");
  background-repeat: no-repeat;
  background-size:100%;  
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
