.odd {
    background-color: #ffcccb;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.adjust-font-size {
    font-size: 24px;
}

#two {
    color: #0000FF;
    font-size: 36px;
}

#four {
    background-color: #90ee90;
    font-weight: bold;
}