<p>
  chat works!
</p>

<section class="owl-carousel owl-theme catagory-section uneven-section">
  <article class="owl-item">
    <div class="row photo-text-box">
      <h2 class="col-9">Food Lover Festival</h2>
      <a class="col-3"><i class="far fa-heart"></i></a>
    </div>
  </article>
</section>
<section class="owl-carousel owl-theme catagory-section even-section">
  <article class="owl-item">
    <div class="row photo-text-box">
      <h2 class="col-9">Food Lover Festival</h2>
      <a class="col-3"><i class="far fa-heart"></i></a>
    </div>
  </article>
</section>
<section class="owl-carousel owl-theme catagory-section uneven-section">
  <article class="owl-item">
    <div class="row photo-text-box">
      <h2 class="col-9">Food Lover Festival</h2>
      <a class="col-3"><i class="far fa-heart"></i></a>
    </div>
  </article>
</section>

<script>
	$('.owl-carousel').owlCarousel({
    margin:48,
    loop:true,
    dots: false,
    autoWidth:true,
    items:4,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:false
        },
        600:{
            items:3,
            nav:false
        },
        1000:{
            items:5,
            loop:true
        }
    }
})</script>