/* ƒл€ реализации "резинового макета" использовал относительные значени€
везде, кроме минимальных. */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    min-height: 23px;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.7);
}

.navbar a {
	padding-left: 5%;
	padding-right: 5%;
	color: white;
	text-decoration: none;
    font-size: 120%;
}

.sidebar {
    width: 13%;
    position: fixed;
    top: 5%;
    bottom: 7%;
    min-width: 120px;
    left: 0;
    background-color: #ffa500;
    padding-top: 5%;
}

.sidebar a {
	padding-left: 20%;
	color: white;
	text-decoration: none;
    font-size: 170%;
    display: block;
}

.content {
	width: 45%;
	padding-top: 5%;
	padding-bottom: 6%;
	margin-left: auto;
	margin-right: auto;
}

.content img{
    width: 100%;
}

.content input {
    margin-right: 8%;
    width: 25%;
}

.content select {
	margin-top: 2%;
    width: 25%;
}

.content button {
    margin-left: 9%;
}

.content table {
    width: 100%;
    height: 25%;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 7%;
    min-height: 23px;
    text-align: center;
    background-color: rgba(1, 1, 1, 0.7);
}

.footer p {
    color: white;
    font-size: 70%;
    text-align: right;
	padding-right: 1%;
}

/* ѕри ширине монитора устройства менее 600px сайдбар и футер не отображаютс€, 
а контент начинает занимать 100% ширины монитора */

@media (max-width: 600px) {
    .sidebar {
        display: none;
    }

    .footer {
        display: none;
    }

    .content {
	width: 100%;
}