
<nav class="nav">
  <a class="nav-link col-4" routerLink="/options" routerLinkActive="active">
    <i class="fa fa-cog" aria-hidden="true"></i>
  </a>
  <a class="nav-link col-4" routerLink="home" routerLinkActive="active">
    <i class="fas fa-home"></i>
  </a>
  <a class="nav-link col-4" routerLink="/chat" routerLinkActive="active">
    <i class="far fa-comments"></i>
  </a>
</nav>

<router-outlet></router-outlet>
  
<footer class="container-fluid">
<!--<span id="showcode2" class="showcode2">
      <i class="fas fa-fire"></i>
      <i class="ion-eye-disabled icon-nocode"></i>
    </span> -->
  <h1>Gesti</h1>

</footer>