$light-font-color: #ffffff;
$lightest-background-color: #ffffff;
$light-background-color: #E5E5E5;
$dark-background-color: #8D8D8D;
$darker-background-color: #4D4D4D;
$darkest-background-color: #000000;
$light-danger-color: #F44336;
$dark-danger-color: #D32F2F;
$light-confirm-color: #4CAF50;
$dark-confirm-color: #388E3C;

$main-brand-color: #00c853;
$light-main-brand-color: #00E676;

$extra-color-fresh: #69F0AE;
$extra-light-color-fresh: #B9F6CA;



