.even-section{
	background-color: $lightest-background-color;
}

.uneven-section{
	background-color: $light-background-color;
}

.showcode{
  background: $light-danger-color;
  color: $light-font-color;
  margin-right: 15%;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  right: 1em;
  bottom: 0;
  margin-bottom: -25px;
  border-radius: 100%;
  font-size: 1.9em;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all .3s;
}

.showcode2{
  background: $light-danger-color;
  color: $light-font-color;
  margin-right: 15%;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  right: 1em;
  bottom: 0;
  margin-bottom: -25px;
  border-radius: 100%;
  font-size: 1.9em;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: all .3s;
}

.active{
  color: $extra-color-fresh !important;
}