.click-me,
.no-click-me {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.click-me {
    background-color: black;
    color: white;
}

.no-click-me {
    background-color: yellow;
}

#bold {
    font-weight: bold;
}