name: A workflow for my Hello World file
on: push
jobs:
  build:
      name: Hello world action
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v1
 	- uses: /home/shiv_shankar/Documents/shiv/Spoon-Knife/action-a
	  with:
	    MY_NAME: "shiv"
